.pre_loaded_div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--orange-color);
    z-index: 100;
}
.loader {
    position: relative;
    width: 5px;
    height: 5px;
    top: 49%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 2.5px);
    left: 49%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 2.5px);
    background-color: #fff;
    border-radius: 50px;
}
.loader:before {
    content: "";
    position: absolute;
    top: -38px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 0 50px 0 0;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-radius: 0 0 0 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes loader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
