@font-face {
  src: url("../fonts/Aclonica.ttf") format("woff2");
  font-family: "Aclonica";
}
@font-face {
  src: url("../fonts/Comfortaa-Light.ttf") format("woff2");
  font-family: "Comfortaa";
}
@font-face {
  src: url("../fonts/Poppins-ExtraLight.otf") format("woff2");
  font-family: "Poppins Extra Light";
}
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --main-bg-color: #000;
  --white-color: #fff;
  --orange-color: #e24c00;
}
body {
  background-color: var(--main-bg-color);
  color: var(--white-color);
  font-family: "Poppins Extra Light";
}
* {
  cursor: none;
}
canvas {
  display: block;
}
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  width: 100%;
  height: 5px;
  background: transparent;
}
.progress-bar {
  height: 5px;
  background: var(--orange-color);
  width: 0%;
}
#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: table-cell;
  vertical-align: middle;
}
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dc5656;
}
.cursor-dot-outline {
  width: 20px;
  height: 20px;
  background-color: rgba(229, 128, 128, 0.5);
}
.heading-with-effect h1 {
  font-size: 100px;
  color: rgba(204, 203, 203, 0.26);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
}
.heading-with-effect span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgba(248, 248, 248, 0.849);
}
@media (max-width: 850px) {
  .heading-with-effect h1 {
    font-size: 54px;
  }
  .heading-with-effect span {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgba(248, 248, 248, 0.849);
  }
}
#socialnav {
  position: fixed;
  left: -50px;
  bottom: 0px;
  transition: 0.5s all ease-in;
}
#socialnav ul {
  list-style: none;
  padding-left: 0 !important;
}
#socialnav ul:after {
  content: "";
  background-color: var(--orange-color);
  position: absolute;
  width: 2px;
  height: 150%;
  top: -60px;
  display: block;
}
#socialnav li {
  margin: 30px;
  margin-left: 0px;
  margin-bottom: 35px;
}
#socialnav li:nth-last-child(n) {
  margin-bottom: -2px;
}
#socialnav a {
  color: var(--orange-color);
  padding: 13px;
  border: 1px solid var(--orange-color);
  transition: 0.5s all ease-in;
}
#socialnav .fa-facebook {
  padding-right: 4.5px !important;
}
#socialnav .fa-envelope-o {
  font-size: 16px !important;
}
#socialnav a:hover {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: var(--white-color);
}
#socialnav a i {
  transition: 0.5s all ease-in;
}
#socialnav a:hover i {
  color: var(--white-color);
}
#socialnav i {
  font-size: 20px;
}
@media (max-width: 850px) {
  #socialnav {
    margin-bottom: 10px !important;
  }
  #socialnav ul:after {
    top: -10px;
  }
  #socialnav .fa-facebook {
    padding-right: 4.5px !important;
  }
  #socialnav a {
    padding: 4px;
  }
  #socialnav i {
    font-size: 15px;
  }
  #socialnav li {
    margin: 13px;
    margin-left: 0;
  }
  #socialnav .fa-envelope-o {
    font-size: 12px !important;
  }
}
.landing-content {
  position: absolute;
  text-align: center;
  color: var(--orange-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Comfortaa";
}
.landing-content h1:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: -10px;
  font-size: 30px;
}
.landing-content h1:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--orange-color);
  transition: -webkit-text-stroke-color 0.5s ease-in !important;
  transition: -webkit-text-stroke-width 0.5s ease-in !important;
  transition: -webkit-text-stroke-width 0.5s ease-in !important;
}
.landing-content h1:nth-child(2):hover {
  -webkit-text-fill-color: var(--orange-color);
  -webkit-text-stroke-color: transparent;
}
.landing-content a {
  color: var(--orange-color);
  padding: 13px;
  border: 1px solid var(--orange-color);
  transition: 0.5s all ease-in;
}
.landing-content a:hover {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: var(--white-color);
}
.landing-content a:hover i {
  color: var(--white-color);
}
.landing-content i {
  font-size: 20px;
  transition: 0.5s all ease-in;
}
@media (max-width: 850px) {
  .landing-content h1:nth-child(1) {
    font-size: 20px;
    margin-bottom: -5px;
  }
  .landing-content h1:nth-child(2) {
    font-size: 37px;
  }
  .landing-content i {
    font-size: 16px;
  }
  .landing-content a {
    padding: 8px;
  }
}
.container {
  word-wrap: break-word;
  height: 900px;
}
#about,
#skills,
#projects,
#halloffame,
#contact {
  margin-top: 140px;
  margin-bottom: 140px;
}
.about-content {
  margin-top: 80px;
}
.emphasis-words {
  color: var(--orange-color);
  font-weight: 700;
  transition: all 0.5s ease-in;
}
.clubs-list {
  color: var(--orange-color);
  font-family: "Poppins", sans-serif;
}
.somepaddingfromright {
  padding-right: 140px;
}
.harshimg {
  margin-top: 80px;
  width: 350px;
  opacity: 1;
  border: 10px solid rgba(226, 76, 0, 0.35);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
}
@media (max-width: 850px) {
  .somepaddingfromright {
    padding-left: 20px;
    padding-right: 20px;
  }
  .harshimg {
    display: none;
  }
}
.skill-box {
  border: 1px solid var(--orange-color);
  padding: 30px;
  margin-top: 130px;
  margin-bottom: 0px;
  transition: 0.5s all ease-in;
  background-image: linear-gradient(to top, #e24c00 50%, transparent 50%);
  background-size: 100% 180%;
  background-position: top;
  transition: all 0.5s ease-in;
  min-height: 270px;
  border-radius: 8px 8px 0px 0px;
}
.skill-box:hover {
  background-size: 100% 200%;
  background-position: bottom;
  color: #000 !important;
}
.skill-box:hover i {
  transition: 0.3s all ease-in;
  color: var(--white-color);
}
.skill-box:hover h1 {
  text-align: center;
  font-size: 30px;
  transition: 0.5s all ease;
  border-bottom: 1px solid var(--white-color);
}
.skill-box:hover .emphasis-words {
  color: #ccc !important;
}
.skill-box i {
  font-size: 40px;
}
.skill-box h1 {
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid var(--orange-color);
  margin-bottom: 7px;
  font-weight: bolder;
  transition: all 0.5s ease-in;
}
.skill-box p {
  text-align: center;
  color: rgba(248, 248, 248, 0.658);
}
.skill-box-full {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 103%;
  margin-left: -15px;
  min-height: 200px !important;
  max-height: 200px !important;
}
@media (max-width: 850px) {
  .skill-box {
    margin: 30px;
  }
  .skill-box-full {
    width: 93%;
    margin: 30px;
    margin-left: 10px;
  }
}
#projects .heading-with-effect {
  margin-bottom: 100px;
}
.project-img-col {
  margin-bottom: 40px;
}
.project-img-col img {
  width: 100%;
  border: 2px solid rgba(226, 76, 0, 0.35);
  margin: 10px;
  transition: 0.45s ease-in all;
  border-radius: 12px;
}
.project-img-col img:hover {
  -webkit-box-shadow: 0px 6px 58px -8px rgba(224, 75, 0, 1);
  -moz-box-shadow: 0px 6px 58px -8px rgba(224, 75, 0, 1);
  box-shadow: 0px 6px 58px -8px rgba(224, 75, 0, 1);
}
#projects .row h1 {
  font-size: 50px;
  color: var(--orange-color);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  text-align: right;
  padding-bottom: 30px;
  padding-top: 60px;
}
#projects .row p {
  text-align: right;
}
@media (max-width: 850px) {
  #projects .heading-with-effect {
    margin-bottom: 30px;
  }
  #projects .row h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  #projects .row p {
    text-align: center;
  }
  #projects .row:nth-child(2n) {
    display: flex;
    flex-direction: column-reverse;
  }
  #projects .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #projects .row img {
    align-self: center;
  }
  .project-img-col {
    margin-bottom: 40px;
    align-self: center;
    padding-left: 0 !important;
    padding-right: 20px;
  }
}
#contact form {
  margin-top: 100px;
  margin-bottom: 160px;
  color: var(--orange-color);
}
#contact form input,
#contact form textarea {
  margin: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--orange-color);
  outline: none;
  box-shadow: none;
  color: white;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
  transition: 0.17s ease-in all;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #fc9866;
}
#contact form input :focus,
#contact form textarea :focus,
#contact form input :active,
#contact form textarea :active {
  outline: none;
  box-shadow: none;
}
#contact form a {
  background: none;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  transition: 0.5s all ease-in;
  width: 200px;
  box-shadow: none !important;
  outline: none !important;
}
#contact form a:hover {
  border: 1px solid var(--orange-color);
  color: var(--white-color);
  background-color: var(--orange-color);
}
@media (max-width: 850px) {
  form {
    margin-right: 30px;
    margin-left: 30px;
  }
  #contact {
    margin-top: 200px;
  }
}
#halloffame h4,
i {
  color: var(--orange-color);
}
#halloffame i {
  font-size: 50px;
  margin-bottom: 20px;
}
#halloffame .row {
  padding-top: 100px;
}
#halloffame .col-md-4 {
  padding: 0px 50px;
}
#show-more {
  background: none;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  transition: 0.5s all ease-in;
  width: 200px;
}
#show-more {
  border: 1px solid var(--orange-color);
  color: var(--white-color);
  background-color: var(--orange-color);
}
#hide-more {
  background: none;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  transition: 0.5s all ease-in;
  width: 200px;
}
#hide-more {
  border: 1px solid var(--orange-color);
  color: var(--white-color);
  background-color: var(--orange-color);
}
.more-projects {
  display: none;
}
html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 4px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--orange-color) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
  background: rgba(22, 22, 22, 0.829);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
a,
button {
  cursor: none !important;
}
.span_tech_stack {
  float: right;
  font-family: Poppins, sans-serif;
}
